body{
  margin:0px auto;
  max-width: 1280px;
  width:100%;
}

/* DESIGNING DASHBOARD LAYOUT */
.app-dashboard-layout-container{
  display: flex;;
}

.app-sidebar{
  width:20%;
  height:100vh;
  background: #20231f;
}

.app-sidebar >.branding{
  width:100%;
}

.branding >img{
  width:20%;
}